<ng-template #template>
  <div *ngFor="let s of ytBoxes; let i=index" class="hs_{{(i + 1)}} hs_item col-md-4 tile-wrapper"
    [ngClass]="{'d-none': s.hidden}">
    <div>
      <ng-container *ngFor="let p of s.items; let j = index">
        <app-amazon-affiliate *ngIf="p.hasOwnProperty('type') && p.type === 'AFFILIATE'; else ytTile" [affiliateItem]="p" [type]="'social'"></app-amazon-affiliate>
        <ng-template #ytTile>
          <app-youtube-tile [youtubeItem]="p" [isOdd]="i % 2 === 0" (opened)="openItem($event)"
            [language]="p.language" [hidden]="p.hidden" (error)="onItemError(p)"></app-youtube-tile>
        </ng-template>
      </ng-container>
    </div>
    <div class="search-report-wrapper" *ngIf="isLastPage && totalColumn === (i + 1) && totalItem % 2 === 1">
      <app-search-report [type]="'social'"></app-search-report>
    </div>
  </div>
  <div class="hs_last hs_item col-md-4 tile-wrapper" *ngIf="isLastPage && totalItem % 2 === 0">
    <div class="search-report-wrapper">
      <app-search-report [type]="'social'"></app-search-report>
    </div>
  </div>
</ng-template>
