
// BOOTSTRAP GRID
$bp-lt-576: "max-width: 575px";
$bp-gt-576: "min-width: 576px";
$bp-lt-768: "max-width: 767px";
$bp-gt-768: "min-width: 768px";
$bp-lt-992: "max-width: 991px";
$bp-gt-992: "min-width: 992px";
$bp-lt-1200: "max-width: 1199px";
$bp-gt-1200: "min-width: 1200px";

// MATERIAL DESIGN
$bp-lt-360: "max-width: 359px";
$bp-gt-360: "min-width: 360px";
$bp-lt-400: "max-width: 399px";
$bp-gt-400: "min-width: 400px";
$bp-lt-480: "max-width: 479px";
$bp-gt-480: "min-width: 480px";
$bp-lt-600: "max-width: 599px";
$bp-gt-600: "min-width: 600px";
$bp-lt-720: "max-width: 719px";
$bp-gt-720: "min-width: 720px";
$bp-lt-840: "max-width: 839px";
$bp-gt-840: "min-width: 840px";
$bp-lt-960: "max-width: 959px";
$bp-gt-960: "min-width: 960px";
$bp-lt-1024: "max-width: 1023px";
$bp-gt-1024: "min-width: 1024px";
$bp-lt-1280: "max-width: 1279px";
$bp-gt-1280: "min-width: 1280px";
$bp-lt-1440: "max-width: 1439px";
$bp-gt-1440: "min-width: 1440px";
$bp-lt-1600: "max-width: 1599px";
$bp-gt-1600: "min-width: 1600px";
$bp-lt-1920: "max-width: 1919px";
$bp-gt-1920: "min-width: 1920px";

// CUSTOM
$bp-lt-460: "max-width: 459px";
$bp-gt-460: "min-width: 460px";
$bp-lt-1500: "max-width: 1499px";
$bp-gt-1500: "min-width: 1500px";
