
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

$_custom-palette-primary: (
  50 : #f8f6ee,
  100 : #eee8d5,
  200 : #e3d9b9,
  300 : #d8c99d,
  400 : #cfbe88,
  500 : #c7b273,
  600 : #c1ab6b,
  700 : #baa260,
  800 : #b39956,
  900 : #a68a43,
  A100 : #fffefc,
  A200 : #ffefc9,
  A400 : #ffe096,
  A700 : #ffd87c,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$custom-palette-primary: mat-palette($_custom-palette-primary);

$_custom-palette-accent: (
  50 : #eaedf0,
  100 : #cad2d9,
  200 : #a7b5c0,
  300 : #8397a6,
  400 : #698093,
  500 : #4e6a80,
  600 : #476278,
  700 : #3d576d,
  800 : #354d63,
  900 : #253c50,
  A100 : #96ccff,
  A200 : #63b3ff,
  A400 : #309aff,
  A700 : #178eff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);
$custom-palette-accent: mat-palette($_custom-palette-accent);

$_custom-palette-black: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
$custom-palette-black: mat-palette($_custom-palette-black);

$custom-theme: (
  primary: $custom-palette-primary,
  accent: $custom-palette-accent,
  warn: mat-palette($mat-red),
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $custom-palette-black
);


@include angular-material-theme($custom-theme);


$color-primary: mat-color($custom-palette-primary);
$color-accent: mat-color($custom-palette-accent);
$color-white: white;
$color-black: black;
$color-warning: mat-color($mat-red);
$color-background-gray: #b4b4b4;
$color-faint-text:  #bfbfbf;

$color-green-check: #77FF33;
$color-pink-add: #EABEE4;
$color-automatic-insert: gold;
$color-grey-trash: #ADAEAF;
