@import 'sportbusters';

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.router-flex {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.admin-header {
  background-color: transparent;
  li > a {
    color: white!important;
  }
}

.admin-panel {
  overflow: hidden auto;
  height: 75vh !important;
}

/*.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}*/

.dropdown-submenu {
  position:relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top:-6px;
}

.sub-content {
  position: relative;
  height: 100vh;
  background: transparent;
}
