<div class="container">
  <mat-dialog-content class="translation-modal">
    <div class="card-content">
      <h3 class="text-center fo-wt-900 title-content">Add Team</h3>
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="addEditTeamForm" (ngSubmit)="submit()">
            <div class="form-group">
              <label>{{'REGISTRY.NAME' | translate}}</label>
              <input matInput placeholder="{{'REGISTRY.NAME' | translate}}" type="text"  formControlName="name">
              <p class="error-message" *ngIf="addEditTeamForm.controls.name.touched && addEditTeamForm.controls.name.errors?.required">Name is required</p>
            </div>

            <div class="form-group">
              <label>{{'REGISTRY.SHORT_NAME' | translate}}</label>
              <input matInput placeholder="{{'REGISTRY.SHORT_NAME' | translate}}" type="text"  formControlName="shortName">
              <p class="error-message" *ngIf="addEditTeamForm.controls.shortName.touched && addEditTeamForm.controls.shortName.value && addEditTeamForm.controls.shortName.errors?.maxlength && addEditTeamForm.controls.shortName.errors?.maxlength?.actualLength > 3">Short Name must be less than 3 characters long</p>
            </div>

            <div class="form-group">
              <label>{{'REGISTRY.COUNTRY' | translate}}</label>
              <app-country-select [countryControl]="addEditTeamForm.controls.country" hideAll='true'></app-country-select>
              <p class="error-message" *ngIf="addEditTeamForm.controls.country.touched && addEditTeamForm.controls.country.errors?.required">Country is required</p>
            </div>

            <div class="form-group">
              <label>{{ 'REGISTRY.CITY' | translate }}</label>
              <app-place-autocomplete [placeControl]="addEditTeamForm.controls.city" State="edit"></app-place-autocomplete>
            </div>
            
            <div class="form-group">
              <label>{{'REGISTRY.FOUNDATION_YEAR' | translate}}</label>
              <input matInput placeholder="{{'REGISTRY.FOUNDATION_YEAR' | translate}}" type="text"  formControlName="foundationYear">
              <p class="error-message mt-10" *ngIf="addEditTeamForm.controls.foundationYear.touched && addEditTeamForm.controls.foundationYear.value && addEditTeamForm.controls.foundationYear.errors?.pattern">Foundation Year must be number</p>
            </div>

            <div class="form-group">
              <label>{{'REGISTRY.SPORT' | translate}}</label>
              <app-sport-select [sportControl]="addEditTeamForm.controls.sport" hideAll='true' ></app-sport-select>
              <p class="error-message" *ngIf="addEditTeamForm.controls.sport.touched && addEditTeamForm.controls.sport.errors?.required">Sport is required</p>
            </div>

            <div class="form-group" *ngIf="isEdit">
              <label>{{'REGISTRY.STATUS' | translate}}</label>
              <mat-select placeholder="{{ 'REGISTRY.STATUS' | translate }}" name="status" id="status" formControlName="status">
                <mat-option *ngFor="let status of statuses" [value]="status.value">
                  {{ status.key }}
                </mat-option>
              </mat-select>
            </div>
  
            <div formArrayName="teamCodes">
              <div class="form-group">
                <label>CODES</label>
              </div>
              <div *ngFor="let item of getTeamCodeControl(); let i = index">
                <div [formGroup]="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input matInput placeholder="{{'CODE.SYSTEM' | translate}}" type="text" formControlName="system" (keyup)="changeSystem(i)">
                        <p class="error-message" *ngIf="item.controls.system.touched && item.controls.system.errors?.required">System is required</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input matInput placeholder="{{'CODE.CODE' | translate}}" type="text" formControlName="code" (keyup)="changeCode(i)">
                        <p class="error-message" *ngIf="item.controls.code.touched && item.controls.code.errors?.required">Code is required</p>
                        <p class="error-message mt-10" *ngIf="item.controls.code.touched && item.controls.code.value && item.controls.code.errors?.pattern">Code must be number</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="add-team text-center">
                        <div class="add-remove-wrapper">
                          <button type="button" mat-flat-button color="primary" (click)="addTeamCode()" *ngIf="i === (getTeamCodeControl().length - 1)">
                           <i class="fa fa-plus"></i>
                          </button>
                          <button  *ngIf="i !== (getTeamCodeControl().length - 1)" type="button" mat-flat-button color="primary" (click)="removeTeamCode(i)">
                            <i class="fa fa-minus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div formArrayName="athletes" *ngIf="addEditTeamForm.controls.sport.value">
              <div *ngFor="let item of getAthleteControl(); let i = index">
                <div [formGroup]="item">
                  <div class="form-group">
                    <div class="label-delete-wrapper">
                      <label>{{ 'TEAM.ATHLETE' | translate }} {{ i + 1 }}</label>
                      <button  *ngIf="i > 0" type="button" mat-flat-button color="primary" (click)="removeAthlete(i)">
                        <i class="fa fa-minus"></i> Remove Athlete
                      </button>
                    </div>
                    <app-athlete-autocomplete [teamControl]="item.controls.athlete" State="edit" [sport]="addEditTeamForm.controls.sport.value"></app-athlete-autocomplete>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="w-100 birthdate">
                      <input formControlName="startDate" readonly matInput [matDatepicker]="startDatePicker" placeholder="{{ 'TEAM.START_DATE' | translate }}" #pickerInput>
                      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="w-100 birthdate">
                      <input formControlName="endDate" readonly matInput [matDatepicker]="endDatePicker" placeholder="{{ 'TEAM.END_DATE' | translate }}" #pickerInput>
                      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="add-team text-center">
                <button type="button" mat-flat-button color="primary" (click)="addAthlete()">
                 <i class="fa fa-plus"></i> Add Athlete
                </button>
              </div>
            </div>
            <div class="form-group text-center add-team">
              <button type="submit" mat-flat-button color="primary">{{loading? 'FORM.SAVING' : 'FORM.SUBMIT' | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
