<div class="header-wrapper">
  <span class="icon-sb-close" (click)="close()"><span class="path1"></span><span class="path2"></span></span>
</div>
<div class="social-list">
  <div class="button-wrapper">
    <button class="facebook" (click)="selectSocial('facebook')">
      <i class="fab fa-facebook-f"></i>
    </button>
    <button class="twitter" (click)="selectSocial('twitter')">
      <i class="fab fa-twitter"></i>
    </button>
    <button class="instagram" (click)="selectSocial('instagram')">
      <i class="fab fa-instagram"></i>
    </button>
    <button class="youtube" (click)="selectSocial('youtube')">
      <i class="fab fa-youtube"></i>
    </button>
  </div>
</div>
