<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-4 order-lg-last fixed">
    <form [formGroup]="formFilter">

      <div class="form-group">
        <label for="name">{{'REGISTRY.MANIFESTATION' | translate}}</label>
        <input type="text"
               (ngModelChange)="changeName($event)"
               class="form-control"
               formControlName="name"
               id="name">
      </div>

      <div class="form-group">
        <label>{{'REGISTRY.SPORT' | translate}}</label>
        <app-sport-select (selected)='sportChanged($event)'></app-sport-select>
      </div>

      <div class="form-group">
        <label for="gender">{{'REGISTRY.GENDER' | translate}}</label> <br />
        <mat-checkbox *ngFor="let gender of genders" [checked]="true" (change)="genderChanged($event.checked, gender)"> {{ 'REGISTRY.' + gender | translate }}</mat-checkbox>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" (click)="addManifestation()">Add Manifestation</button>
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-8 order-lg-first" *ngIf="loading">
    <div class="imageLoading spin-center"><div class="w-50 mauto gold"><mat-spinner></mat-spinner></div></div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-8 order-lg-first">
    <div class="table-responsive table-full-width">
      <table class="table">
        <thead>
          <tr class="mat-header-row">
            <th class="mat-header-cell" [resizeColumn]="true" scope="col">{{'REGISTRY.MANIFESTATION' | translate}}</th>
            <th class="mat-header-cell" [resizeColumn]="true" scope="col">{{'REGISTRY.SPORT' | translate}}</th>
            <th class="mat-header-cell" [resizeColumn]="true" scope="col">{{'REGISTRY.GENDER' | translate}}</th>
            <th scope="col">{{'REGISTRY.ACTION' | translate}}</th>
          </tr>
        </thead>
        <tbody *ngIf="!loading">
          <tr class="mat-row" *ngFor="let item of filteredData">
            <td class="mat-cell">{{'MANIFESTATION.' + item.name | translate}}</td>
            <td class="mat-cell">{{'SPORT.' + item.sport | translate}}</td>
            <td class="mat-cell">{{'REGISTRY.' + item.gender | translate}}</td>
            <td class="table-action">
              <i class="fa fa-plus add" aria-hidden="true" (click)="addEdition(item)"></i>
              <i class="fa fa-trash trash" aria-hidden="true"  (click)="delete(item)"></i>
              <i class="fa fa-edit edit" aria-hidden="true" (click)="edit(item)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


