@import 'sportbusters';


.card-content {
  color: white;
  font-family: 'Lato', sans-serif;
}

.card-content h3,
.card-content p {
  font-family: 'Lato', sans-serif;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.fb-content {
  overflow-x: hidden;
  padding: 0px;
  background: transparent;
}

.desc-content {
  padding: 20px 40px;
}

.title-content {
  padding: 10px 20px;
}

.img-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.img-content {
  width: 70%;
}

.mat-dialog-content {
  max-height: 85vh !important;
}

.close {
  display: none;
}

@media only screen and (#{$bp-lt-840}) {

  ::ng-deep .custom-dialog-container,
  .custom-dialog-container-no-scroll {
    width: unset !important;
  }

  .close {
    display: block;
    position: absolute;
    right: 15px;
    text-shadow: unset;
    opacity: unset;
    outline: 0;
    border: none;
    top: 15px;
  }

  .fa.fa-times {
    color: #c7b273;
  }

  ::ng-deep .custom-dialog-container .mat-dialog-container {
    padding: 0 9px 9px 9px !important;
  }

  .mat-dialog-content {
    max-height: 100vh !important;
    height: 100vh;
  }

  .title-content {
    font-size: 20px;
  }

  .desc-content {
    font-size: 15px;
    padding: 1px 40px;
  }

  .img-content {
    width: 87%;
  }

  .card-content {
    margin-bottom: 8vh;
  }

  .img-div {
    margin-top: 40px;
  }
}

/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
  .mat-dialog-content {
    max-height: 100vh !important;
    height: 86vh;
  }

}

@media only screen and (#{$bp-lt-840}) {
  .fb-content {
    height: auto !important;
  }
}

.icon-sb-close {

  .path1,
  .path2 {
    &::before {
      color: #a68a43;
    }
  }
}

iframe {
  height: 500px;
  width: 100%;

  @media only screen and (#{$bp-lt-768}) {
    height: 315px;
  }

}
