<mat-form-field class="w-100 nationality">
  <input type="text"
      matInput
      placeholder="{{ 'FORM.PEOPLE' | translate }}"
      [formControl]="teamControl"
      [matAutocomplete]="auto"
      [(ngModel)]="searchQuery"
      (ngModelChange)="changeSelectionValue()"
    >
  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="displayFn.bind(searchQuery)"
                    (optionSelected)='changeSelection($event.option.value)'>
    <mat-option *ngFor="let result of results | async"
                [value]="result"> {{ result.firstName }} {{ result.lastName }}</mat-option>
  </mat-autocomplete>
</mat-form-field>